@model dynamic

@{
    ViewBag.Title = "Setting";
}

<div class="setting-view col-md-12 col-sm-12 no-padding">
    <div class="above col-md-12 col-sm-12 no-padding">
        <h1 class="font-comfortaa-bold">Settings</h1>
        <div class="option @(ViewBag.EditProfile == null? "":"selected")">
            <p>Edit Profile</p>
        </div>
        <div class="option @(ViewBag.AccountDetails == null ? "" : "selected")">
            <p>Account Details</p>
        </div>
        <div class="option @(ViewBag.Notifications == null ? "" : "selected")">
            <p>Notifications</p>
        </div>
        <div class="option @(ViewBag.BlockedUsers == null ? "" : "selected")">
            <p>Blocked Users</p>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.option').click(function () {
            $('.option').each(function () {
                $(this).removeClass('selected');
            });
            $(this).addClass('selected');
        });
    });
</script>