/*
    font
*/
@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue.otf') format('opentype');
}
.font-bebasneue {
  font-family: BebasNeue;
}
@font-face {
  font-family: 'BEBASNEUE BOLD';
  src: url('../fonts/BEBASNEUE BOLD.TTF') format('truetype');
}
.font-bebasneue-bold {
  font-family: 'BEBASNEUE BOLD';
}
.font-comfortaa-bold {
  font-family: Comfortaa;
  font-weight: bold;
}
.font-comfortaa-light {
  font-family: Comfortaa;
  font-weight: lighter;
}
.font-comfortaa-regular {
  font-family: Comfortaa;
  font-weight: normal;
}
@font-face {
  font-family: 'Lobster 1.4';
  src: url('../fonts/Lobster 1.4.otf') format('opentype');
}
.font-lobster {
  font-family: 'Lobster 1.4';
}
/*
    variable
*/
/*
    common
*/
.row {
  padding: 0;
  margin: 0;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
ul {
  padding: 0 !important;
  list-style-type: none;
}
.btn:focus {
  outline: none !important;
}
.btn:active {
  outline: none !important;
  box-shadow: none;
}
.btn-yellow {
  background-color: #fdd055;
  border-bottom: 2px solid #f6bb44;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.btn-yellow:hover {
  background-color: #fede87;
}
.btn-yellow:active {
  background-color: #fcc223;
}
.btn-light-gray {
  background-color: #f8f9f8;
}
.btn-light-gray:hover {
  background-color: #eaedea;
}
.btn-light-gray:active {
  background-color: #dde1dd;
}
.center-vertical-parent {
  position: relative;
}
.center-vertical-child {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.red-text {
  color: red;
}
.error-border {
  border: 1px solid red !important;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.error {
  color: red;
}
.success {
  color: limegreen;
}
.owl-carousel img {
  height: 500px;
}
.progress {
  height: 15px;
  background-image: none;
  box-shadow: none;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #f6bb44;
}
.progress .progress-bar {
  background-image: none;
  border: none;
  box-shadow: none;
  background-color: #fdd055;
}
.project-card {
  margin-bottom: 30px;
  font-family: Comfortaa;
}
.project-card > div {
  border: 1px solid #C0C2C4;
  border-radius: 10px;
  padding-bottom: 30px;
}
.project-card > div img {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.project-card > div p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 12px;
}
.project-card > div p:first-of-type {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 18px;
}
.project-card > div p:nth-of-type(2) {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
}
.project-card > div p:nth-of-type(3) {
  font-size: 14px;
}
.project-card > div .progress {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}
/*
    Header
*/
.header {
  background-color: #f8f9f8;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #CCCCCC;
  /*margin-bottom: 50px;*/
}
.header .action {
  height: 100%;
  padding-top: 10px;
}
.header .action a {
  color: black;
}
.header .action a button {
  font-weight: bold;
  font-size: 16px;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.header .action a:first-of-type button {
  padding-left: 30px;
  padding-right: 30px;
}
.header .action a:first-of-type button:hover {
  background-color: #fede87;
}
.header .action a:first-of-type button:active {
  background-color: #f6bb44;
}
.header .logo a {
  color: black;
  font-size: 36px;
}
.header .logo a:hover {
  color: black;
}
.header .logo img {
  width: 60px;
  height: 50px;
}
.header .support > div a {
  color: black;
}
.header .support > div a button {
  font-family: Comfortaa;
}
.header .support > div button {
  font-weight: bold;
  font-size: 16px;
  -moz-transition: background-color 0.2s ease !important;
  -o-transition: background-color 0.2s ease !important;
  -webkit-transition: background-color 0.2s ease !important;
  transition: background-color 0.2s ease !important;
}
.header .support > div .menu-control {
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  font-family: Comfortaa;
  font-weight: bold;
}
.header .support > div .menu {
  visibility: hidden;
  opacity: 0;
  -moz-transition: visibility 0s, opacity 0.2s linear;
  -o-transition: visibility 0s, opacity 0.2s linear;
  -webkit-transition: visibility 0s, opacity 0.2s linear;
  transition: visibility 0s, opacity 0.2s linear;
  width: 550px;
  padding-top: 20px;
  background-color: white;
  position: absolute;
  z-index: 1;
  top: 83px;
  right: 0;
  border: 1px #B9AE9E solid;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 10px;
  font-family: Comfortaa;
  font-weight: lighter;
  -webkit-box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 13px -1px rgba(0, 0, 0, 0.75);
}
.header .support > div .menu ul {
  width: 50%;
  float: left;
}
.header .support > div .menu ul li {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}
.header .support > div .menu ul li:first-of-type {
  font-family: Comfortaa;
  font-weight: bold;
  font-size: 14px;
}
.header .support > div .menu a {
  color: #5E73B8;
}
/*
    content
*/
.content-wrapper {
  padding-bottom: 20px !important;
}
.my-form {
  border: 1px solid #d1d2d3;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: Comfortaa;
}
.my-form .form-control {
  margin-bottom: 15px;
  background-color: #E7E8E9;
  border: none;
  outline: none;
  box-shadow: none;
}
.my-form .btn {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 18px;
  font-family: Comfortaa;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 5px solid #F6BB44;
}
.my-form p {
  font-family: Comfortaa;
  font-weight: bold;
}
.my-form p:first-of-type {
  font-size: 24px;
}
/*
    Discover
*/
.discover-view .discover-filter > div {
  margin-bottom: 30px;
}
.discover-view .discover-filter > div button {
  padding-left: 10px !important;
  padding-right: 10px !important;
  text-align: left;
  background-color: white;
  border-bottom: 1px solid black;
  border-radius: 10px;
}
.discover-view .discover-filter > div button span {
  color: #fdd055;
  float: right;
}
.discover-view .discover-filter > div ul {
  width: 100%;
  padding: 0;
}
.discover-view .discover-filter > div ul li a {
  padding-left: 10px;
  padding-right: 10px;
}
.discover-view .discover-filter > div ul li a:first-of-type {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.discover-view .discover-filter > div ul li a:last-of-type {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.discover-view .discover-filter .open a {
  background-image: none;
}
.discover-view .discover-filter .open a:hover {
  background-color: #4D9CFB;
  color: white;
}
/*
    Setting
*/
.setting-view {
  font-family: Comfortaa;
}
.setting-view .form-label {
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
}
.setting-view .form-label:first-of-type {
  margin-top: 0;
}
.setting-view .above {
  padding-left: 30px !important;
  border-bottom: 2px solid #D7D7D7;
}
.setting-view .above h1 {
  margin-bottom: 50px;
}
.setting-view .above .option {
  float: left;
  padding: 20px;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.setting-view .above .option:hover {
  background-color: #fdd055;
}
.setting-view .above .option:active {
  background-color: #fcbb09;
}
.setting-view .above .option p {
  margin: 0 !important;
  font-weight: 900;
}
.setting-view .above .selected {
  border: 1px solid #D7D7D7;
  border-bottom: none;
  color: #5870B6;
  padding-bottom: 17px;
}
.setting-view .above .selected:hover {
  background-color: white;
}
.setting-view .above .selected p {
  border-bottom: 2px solid #5870B6;
}
.setting-view > div:not(:first-of-type) {
  display: none;
}
.setting-view .selected {
  display: block !important;
}
.setting-view .edit-profile {
  padding-top: 50px !important;
  padding-left: 50px !important;
}
.setting-view .edit-profile .form-control {
  width: 70%;
}
.setting-view .edit-profile .select-option {
  margin-bottom: 20px;
}
.setting-view .edit-profile .select-option:nth-of-type(2) ul {
  margin-left: 15px;
}
.setting-view .edit-profile .select-option button {
  text-align: left;
  padding: 6px 12px !important;
  background-color: white;
  border: 1px solid #D4D4D4;
}
.setting-view .edit-profile .select-option button span {
  float: right;
}
.setting-view .edit-profile .select-option ul {
  width: 440px;
  max-height: 200px;
  overflow: auto;
}
.setting-view .edit-profile .profile-picture {
  border: 3px dashed #888888;
  height: 400px;
  text-align: center;
}
.setting-view .edit-profile .profile-picture img {
  position: relative;
  height: 100%;
}
.setting-view .edit-profile .profile-picture label {
  position: absolute;
  bottom: 30px;
  left: 195px;
}
.setting-view .edit-profile .profile-picture label input {
  display: none !important;
}
.setting-view .edit-profile .location {
  width: 70% !important;
}
.setting-view .edit-profile .roles ul {
  width: 866px;
}
.setting-view .edit-profile .roles ul:last-of-type {
  margin: 0;
}
.setting-view .edit-profile #edit-profile input:last-of-type {
  margin-top: 20px;
  margin-right: 50px;
}
.setting-view .account-detail form {
  padding-left: 50px;
}
.setting-view .account-detail form .clear {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
}
.setting-view .account-detail form input:last-of-type {
  margin-top: 30px;
}
/*
    Home
*/
.home-view > p {
  color: black;
  font-size: 24px;
}
.home-view .project-image img {
  height: 100%;
  width: 100%;
}
.home-view .project-detail p a {
  color: black;
  font-size: 16px;
}
.home-view .project-detail p:nth-of-type(2) {
  font-size: 12px;
  margin-bottom: 30px;
}
.home-view .project-detail p:last-of-type {
  font-size: 14px;
}
/*
    User profile
*/
.user-profile .profile {
  margin-bottom: 30px;
}
.user-profile .profile img {
  max-width: 100%;
  border-radius: 20px;
}
.user-profile .profile > div > p {
  color: #fdd055;
  font-size: 28px;
}
.user-profile .profile > div #roles p {
  float: left;
  font-size: 12px;
  background-color: #5870B6;
  margin-right: 20px;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}
.user-profile .profile > div #info {
  color: #5870B6;
  font-weight: bold;
}
.user-profile .options .option {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.user-profile .options .option:hover {
  background-color: lightgray;
}
.user-profile .options .option:active {
  background-color: #f4a913;
}
.user-profile .options .option p {
  background-color: #5870B6;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  /*padding-left: 5px;
                padding-right: 5px;
                padding-top: 2px;
                padding-bottom: 2px;*/
  margin: 0;
  border-radius: 4px;
}
.user-profile .options .selected {
  background-color: #fdd055;
}
.user-profile .options .selected:hover {
  background-color: #fdd055;
}
.user-profile .option-content {
  font-family: Comfortaa;
  padding-top: 50px;
}
.user-profile .option-content .follower-row {
  border-bottom: 1px solid #fede87;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}
.user-profile .option-content .follower-row > img {
  max-width: 100%;
  border-radius: 50%;
}
.user-profile .option-content .follower-row div:first-of-type p:first-of-type {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}
.user-profile .option-content .follower-row div:last-of-type img {
  height: 30px;
}
.user-profile .option-content .follower-row div:last-of-type button {
  border: none;
  background-color: #5870B6;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  outline: none;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.user-profile .option-content .follower-row div:last-of-type button:hover {
  background-color: #7b8ec6;
}
.user-profile .option-content .follower-row div:last-of-type button:active {
  background-color: #435998;
}
.user-profile .option-content .follower-row div:last-of-type button:focus {
  outline: none;
}
/*
    Project view
*/
.project-view {
  font-family: Comfortaa;
}
.project-view .project-image img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
}
.project-view .project-image > p {
  color: gray;
  font-weight: bold;
}
.project-view .details .creator img {
  border-radius: 50%;
}
.project-view .details .creator p {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.project-view .details .creator p span {
  font-weight: bold;
}
.project-view .details .roles {
  margin-top: 30px;
}
.project-view .details .roles > p {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid gray;
}
.project-view .details .roles .role-row {
  padding: 10px;
  height: 50px;
  background-color: gray;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.project-view .details .roles .role-row:first-of-type {
  background-color: lightgray;
}
/*
    footer
*/
.footer {
  background-color: #09111D;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 100px;
}
.footer .left-footer ul {
  margin-bottom: 50px;
}
.footer .left-footer ul li {
  -moz-transition: background-color 0.2s ease !important;
  -o-transition: background-color 0.2s ease !important;
  -webkit-transition: background-color 0.2s ease !important;
  transition: background-color 0.2s ease;
  font-size: 12px;
}
.footer .left-footer ul li:first-of-type {
  font-size: 18px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer .left-footer ul li:hover {
  background-color: #152844;
}
.footer .left-footer ul li a {
  color: white;
  font-family: Comfortaa;
  font-weight: bold;
}
.footer .left-footer > div:nth-of-type(3) a {
  color: black;
  font-size: 36px;
}
.footer .left-footer > div:nth-of-type(3) a:hover {
  color: black;
}
.footer .left-footer > div:nth-of-type(3) img {
  width: 60px;
  height: 50px;
}
.footer .left-footer > div:nth-of-type(3) a {
  color: white;
  font-family: 'BEBASNEUE BOLD';
}
.footer .left-footer > div:nth-of-type(3) a:hover {
  color: white;
}
.footer .right-footer p {
  color: white;
  font-family: Comfortaa;
  font-weight: bold;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.footer .right-footer input {
  width: 50%;
  color: white;
  margin-right: 20px;
  padding: 20px 12px;
  font-size: 16px;
  background-color: #414141;
  box-shadow: none;
  border: none;
  font-family: Comfortaa;
  font-weight: normal;
}
.footer .right-footer button {
  font-family: Comfortaa;
  font-weight: bold;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 9px;
  padding-top: 8px;
  border-bottom: none;
  -moz-transition: background-color 0.2s ease !important;
  -o-transition: background-color 0.2s ease !important;
  -webkit-transition: background-color 0.2s ease !important;
  transition: background-color 0.2s ease;
}
.footer .right-footer button:hover {
  background-color: #fedd87;
}
.footer .right-footer button:active {
  background-color: #fcc123;
}
.footer .right-footer > div {
  margin-top: 75px;
}
.footer .right-footer > div p {
  padding: 0;
  margin: 0;
}
.footer .right-footer > div .clear {
  width: 100%;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}
.footer .right-footer > div img {
  width: 30px;
  margin-right: 10px;
}
.footer .right-footer > div #footer-dropdown {
  background-color: #414141;
  color: white;
  margin-top: 25px;
  padding: 5px 5px;
  font-size: 12px;
  font-family: Comfortaa;
  font-weight: lighter;
}
.footer .right-footer > div #footer-dropdown span {
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */