@model DataTier.Project

@{
    ViewBag.Title = "Discovery";
}

<div class="discover-view col-md-12 col-sm-12 no-padding">
    <div class="discover-filter col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 no-padding">
        <div class="category-filter col-md-6 col-sm-6 no-padding-left">
            <button class="btn dropdown-toggle col-md-12 col-sm-12 no-padding" type="button" data-toggle="dropdown" value="0">
                Everything <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li value="0"><a>Everything</a></li>
            </ul>
        </div>
        <div class="sort col-md-6 col-sm-6 no-padding">
            <button class="btn dropdown-toggle col-md-12 col-sm-12 no-padding" type="button" data-toggle="dropdown" value="0">
                Title <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li value="0"><a>Title</a></li>
                <li value="1"><a>Joined people</a></li>
                <li value="2"><a>Newest</a></li>
                <li value="3"><a>People</a></li>
            </ul>
        </div>
        <div class="role-filter col-md-6 col-sm-6 no-padding-left">
            <button class="btn dropdown-toggle col-md-12 col-sm-12 no-padding" value="0" type="button" data-toggle="dropdown">
                Role Available <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <ul class="dropdown-menu">
                <li value="0">
                    <a>Role Available</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="projects col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 no-padding"></div>
</div>

<script>
    var span = '<span class="glyphicon glyphicon-chevron-down"></span>';
    var cats;

    $(document).ready(function () {

        getCategories(loadCategories);
        getRoles(loadRoles);
        searchProjects();

        $('.sort li a').click(function () {
            $('.sort button').first().html($(this).text() + span);
            $('.sort button').val($(this).parent().val());

            searchProjects();
        });

        function loadCategories(categories) {
            cats = categories;

            categories.forEach(function (item, index) {
                var li = $('<li></li>').val(item.id).html('<a>' + item.category + '</a>');
                $('.category-filter ul').first().append(li);
            });

            $('.category-filter li a').click(function () {
                $('.category-filter button').first().html($(this).text() + span);
                $('.category-filter button').val($(this).parent().val());

                searchProjects();
            });
        }

        function loadRoles(roles) {
            roles.forEach(function (item, index) {
                var li = $('<li></li>').val(item.id).html('<a>' + item.role + '</a>');
                $('.role-filter ul').first().append(li);
            });

            $('.role-filter li a').click(function () {
                $('.role-filter button').first().html($(this).text() + span);
                $('.role-filter button').val($(this).parent().val());

                searchProjects();
            });
        }
    });

    function searchProjects() {
        var category_id = $('.category-filter button').first().val();
        var sort_id = $('.sort button').first().val();
        var role_id = $('.role-filter button').first().val();

        $.ajax({
            url: '@(Request.Url.Scheme + Uri.SchemeDelimiter + Request.Url.Host +
                        (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port))/' + 'api' + '@Url.Action("GetFilteredProjects", "ProjectApi")',
            type: "get",
            dataType: 'json',
            data: {
                'category_id': category_id,
                'sort_id': sort_id,
                'role_id': role_id
            },
            success: function (data) {
                var projects = data.projects;
                $('.discover-view .projects').first().html('');
                if (projects !== null)
                    projects.forEach(function (item, index) {
                        var html = $('.discover-view .projects').first().html();
                        html += '<div class="project-card col-md-4">' +
                            '<div class="col-md-12 no-padding">' +
                            '<a href="@Url.Action("ViewProject", "Project")?project_id=' + item.id + '"><img src="' + item.image + '" alt="" /></a>' +
                            '<p><a href="@Url.Action("ViewProject", "Project")?project_id=' + item.id + '">' + item.title + '</a></p>' +
                            '<p id="project-' + item.id + '"></p>' +
                            '<p>' + item.category_id + '</p>' +
                            '<p>' + item.description + '</p>' +
                            '<div class="progress">' +
                            '<div class="progress-bar" role="progressbar" aria-valuenow="' + (item.joined_people / item.people * 100) + '"' +
                            'aria-valuemin="0" aria-valuemax="100" style="width:' + (item.joined_people / item.people * 100) + '%">' +
                            '</div>' +
                            '</div>' +
                            '<p>' + item.joined_people + ' of ' + item.people + ' joined</p>' +
                            '</div>' +
                            '</div>';
                        $('.discover-view .projects').first().html(html);
                        getUserInfo(item.user_id,
                            function (user) {
                                $('#project-' + item.id).text(user.firstname + ' ' + user.lastname);
                            });
                    });
            },
            error: function (err) {
                console.log(err.message);
            }
        });
    }
</script>