<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnitTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UnitTest.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=thientran-sv\SQLEXPRESS;Initial Catalog=SampleProject;Integrated Security=SSPI;User ID=sa;Password=Thien12345;</value>
            </setting>
            <setting name="ApiAddress" serializeAs="String">
                <value>http://localhost:21790</value>
            </setting>
            <setting name="LoginApiUrl" serializeAs="String">
                <value>/api/UserApi/Login</value>
            </setting>
            <setting name="EditProfileApiUrl" serializeAs="String">
                <value>/api/UserApi/EditProfile</value>
            </setting>
        </UnitTest.Properties.Settings>
    </applicationSettings>
</configuration>